<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
    <center>
        <%= JSON.stringify(data) %>
        <form action="/stores/add" method="post">
            <p>
                <label for="productName">Product Name</label>
                <input type="text" name="name" id="productName">
            </p>
            <p>
                <label for="">Description</label>
                <input type="text" name="description" id="">
            </p>
            <p>
                <label for="">Price</label>
                <input type="number" name="price" id="">
            </p>
            <p>
                <label for="">Stock</label>
                <input type="number" name="stock" id="">
            </p>
            <p>
                <% let category = ["1", "2", "3", "4", "5"] %>
                <label>Category</label>
                <select name="CategoryId">
                    <option selected disabled>--SELECT--</option>
                    <% data.forEach(el => { %>
                        <option value="<%= el.id %>"><%= el.name %></option>
                    <% }) %>
                </select>
            </p>
            <button type="SUBMIT">SUMBIT</button>
        </form>
    </center>
</body>
</html>