<nav class="navbar" style="background-color: rgb(41, 51, 42);">
    <div class="container-fluid justify-content-center">
      <a class="btn btn-outline-success" href="/" style="margin: 0 10px;">Main</a>
      <a class="btn btn-outline-success" href="/stores">store</a>
      <a class="btn btn-outline-secondary" href="/logout" style="margin: 0 10px;">Log Out</a>
    </div>
  </nav>