<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stores</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Store Name</th>
            <th>Total sales</th>
        </tr>
        <% data.forEach(el => { %>
            <tr>
                <td><%= el.username %></td>
                <td><a href="/stores/<%= el.id %>"><%= el.Store.name %></a></td>
                <td><%= el.Store.productSales %></td>
            </tr>
        <% }) %>
        
    </table>
</body>
</html>